.tabel {
  overflow-x: scroll;
}
.tabel h1 {
  margin-left: 10px;
  font-size: 30px;
  padding: 10px;
}

thead {
  background-color: black;
  color: white;
}
table {
  text-align: center;
  width: 97%;
  margin: auto;
  overflow-x: scroll;
}
table .btn {
  margin-top: -3%;
  outline: none;
  margin-left: 85%;
  font-size: 20px;
}

table th {
  width: 200px;
  padding: 10px;
  border: 1px solid black;
}
table img {
  width: 20%;
}
